/* Overall and Utilities */
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

#root {
    height: 100vh;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}


/* Navbar */
.navbar {
    min-height: 100px;
    width: 100vw;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    font-size: 32px;
    font-weight: 700;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.link-items {
    display: flex;
    text-align: center;
    gap: 17px;
}

.link-items a {
    font-size: 18px;
    color: black;
    font-weight: 500;
    padding: 10px 15px;
    margin: 0;
    border: 1px solid transparent;
    transition: 500ms ease-out;
}

.link-items a:hover {
    border: 1px solid black;
    border-radius: 7px;
}

/* Home page */
.homepage {
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paw {
    margin: 0;
}

.homepage-wrapper {
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 50px 100px;
    min-height: 30%;
    justify-content: space-between;
    border-radius: 50px;
    gap: 3rem;
    transition: 800ms ease-in;
}

.homepage-wrapper:hover {
    background-color: rgba(0, 0, 0, 0.45);
}

.homepage-wrapper h1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

#shop-btn {
    border-radius: 0;
}

#shop-btn  a {
    font-size: 18px;
    letter-spacing: 5px;
    font-weight: 300;
    color: white;
    padding: 10px;
}

#shop-btn:hover {
    background-color: #1a1a1a
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    padding: 15px;
}

.header label {
    font-weight: 500;
}

select {
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: white;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

/* Home page VIDEO */
#video {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100vw;
    object-fit: cover;
    z-index: -1;
}

/* Shop */
.shop-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    align-items: center;
    gap: 1rem;
    padding: 20px 20px 20px 20px;
    height: 100;
}

/* Card Container */
.card-container {
    height: 300px;
    width: 90%;
    color: black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.25);
    transition: 300ms ease-in;
    cursor: pointer;
    animation: slideIn 1s ease-in;
}

@keyframes slideIn {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

.card-container:hover {
    transform: scale(1.05)
}

.card-container img {
    height: 60%;
    object-fit: contain;
    width: 60%;
    padding: 20px 0px;
}

.card-container img:hover {
    transform: scale(1.1);
    transition: 400ms ease-in;
}

.item-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: end;
    gap: 5px;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    padding: 20px 0px;
}

.item-info h1 {
    font-size: 18px;
    /* border-bottom: 1px solid black; */
    width: 100%;
}

.item-info p {
    font-size: 14px;
    width: 200px;
}

.item-info h3 {
    font-weight: 400;
}

@media screen and (max-width: 1080px) {
    .shop-grid {
        grid-template-columns: repeat(2, 1fr)
    }
    .item-info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .card-container {
        height: 100%;
    }
    .item-info h1 {
        text-align: center;
    }
}

@media screen and (max-width: 650px) {
    .shop-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .card-container {
        height: 100%;
    }
    .item-info h1 {
        text-align: center;
    }
    .homepage-wrapper {
        padding: 10px;
        flex-direction: column;
        justify-content: center;
    }
    .homepage-wrapper h1, p {
        justify-content: center;
        text-align: center;
        padding: 5px;
    }
    .link-items {
        display: none;
    }
    #video {
        position: fixed;
        top: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: -1;
    }
}

/* Cart Page */
.cart-grid {
    height: 90vh;
    /* width: 100vw; */
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.left-pane {
    display: grid;
    justify-content: start;
    padding: 10px 30px;
    background-color: black;
    color: white;
    height: 90%;
    width: 55%;
    margin: 0;
}

.right-pane {
    background-color: black;
    color: white;
    height: 90%;
    margin: 0;
    display: flex;
    align-items: start;
}


/* Error Page */
.error-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    flex-direction: column;
}

.error-logo {
    height: 32px;
    width: 32px;
}

.error-page a {
    color: #a32f2f;
    font-weight: 700;
    text-transform: uppercase;
}